

/* -------------------------------- LOGIN n REGISTER ---------------------------------- */



/* ------------------------------------------------------------------------------------- */


/* ----- Status Box ----- */
@media (max-width: 1400px) {
    .statusBox {
        height: 100px;
        width: fit-content;
        padding: 10px;
        background-color: #5d7faf;
    }   
}

@media (max-width: 1200px) {
    .statusBox {
        height: 100px;
        width: fit-content;
        padding: 10px;
        background-color: #4ad668;
    }   
}


@media (max-width: 900px) {
    .statusBox {
        height: 100px;
        width: fit-content;
        padding: 10px;
        background-color: #bdb03a;
    }   
}

@media (max-width: 768px) {
    .statusBox {
        height: 100px;
        width: fit-content;
        padding: 0px;
        background-color: aqua;
    }   
}

@media (max-width: 576px) {
    .statusBox {
        height: 100px;
        width: fit-content;
        padding: 0px;
        background-color: rgb(7, 39, 39);
    }   
}

.statusBox {
    display: block;
    justify-items: center;
    text-align: center;
    margin: 5px;
    padding: 2px;
    width: 250px;
    height: 85px;
    z-index: 1;
    border-style: solid;
    /* border-bottom-color: #c4aeec; */
    /* border-color: #FFFFFF #FFFFFF #FFFFFF #c4aeec; */
    border-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mainSpace {
    text-align: center;
}

/* ---------------------- Navbar ---------------------- */



.link {
    /* display: inline-block; */
    /* text-align: center; */

    text-decoration: none;
    font-size: 17px;
    padding-left: 10px;
    color: #000000;
    /* font-weight: 600; */
  }

.theme {
  background-color: #5d7faf;
}

.center {
  text-align: center;
}

/* ---------------------- Table ---------------------- */

.dataTable {
    display: block;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    align-items: center;
}

.align-item-center {
    align-items: center;
}
