/* -------------------------------- LOGIN n REGISTER ---------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    /* width: 360px; */
    /* align-self: center; */
    /* justify-content: center; */
    /* align-content: center; */
    padding: 8% 0 0;
    margin: auto;
}

 .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2%;
}


.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


.form button:hover,
.form button:active,
.form button:focus {
    background: #43A047;
}


.form .message {
    margin: 15px 0 0;
    color: #464646;
    font-size: 12px;
}


.form .message a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/*
.form .register-form {
    display: block;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
} */

/* body {
    background: #9bc3da;
    /* fallback for old browsers 
    background: rgb(155, 195, 218);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */


/* ---------------------- Status Box  ---------------------- */


/* ----- Status Box ----- */
@media (max-width: 1400px) {
    .statusBox {
        height: 120px;
    }

}


@media (max-width: 1200px) {
    .statusBox {
        height: 80px;
        width: 250px;
    }

    /* .desktop-view {
        display: none;
    } */


}

@media (min-width: 1000px) {
    .statusBox {
        height: 120px;
    }

    .mobile-view {
        display: none;
    }

}



@media (max-width: 1000px) {
    .statusBox {
        height: 80px;
        width: 220px;
        margin-top: 4%;
    }

    .desktop-view {
        display: none;
    }
}

@media (max-width: 768px) {
    .statusBox {
        height: 80px;
        width: 180px;
    }

    /* .desktop-view {
        display: none;
    } */
}

@media (max-width: 576px) {
    .statusBox {
        height: 70px;
        width: 150px;
    }

    /* .desktop-view {
        display: none;
    } */
}

.statusBox {
    display: block;
    margin-top: 15%;
    margin-bottom: 15%;
    justify-items: center;
    text-align: center;
    z-index: 0.5;
    border-style: solid;
    border-color: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.mt-15 {
    margin-top: 15%;
}

.status-bottom {
    display: block;
    border-style: solid;
}

.mainSpace {
    text-align: center;
}

/* ---------------------- Navbar ---------------------- */

.top-nav-bar {
    padding: 1%;
    display: flex;
    text-decoration: none;
    /* border-style: solid; */
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-item {
    display: block;
    padding: 4px;
    margin: 6px;
    text-decoration: none;
    font-size: larger;
    color: #000000;
}


.center {
    text-align: center;
}

/* ---------------------- Table ---------------------- */

.elevated-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    align-items: center;
}


.align-item-center {
    align-items: center;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: inline-block;
}


.input {
    width: 20%;
}

.display-empty-box {
    display: block;
    height: 5%;
}

.dashboardContainer {
    display: block;

}

.desktop-view {
    margin: 2% 2%;
}

.report-view {
    margin: 2% 2%;
}


.inward-page,
.outward-page {
    margin: 1% 15% 1% 2%;
    /* top | right | bottom | left */
}


/* ---------------------- Footer ---------------------- */

.footer {
    /* display: block; */
    position: relative;
    margin-top: 1%;
    bottom: 0px;
    right: 0px;
    height: 35;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #4b51528f;
}

li {
    list-style: none;
}

@media print {

    .no-print,
    .actions,
    .buttons {
        display: none;
    }

}

/* ---------------------- ViewPages ---------------------- */

.link {
    text-decoration: none;  
}

.th {
    color: #237118;
}

.view-status {
    background-color: #43A047;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: center;
}

/* ---------------------- Dropdown ---------------------- */

.color-border {
    /* border: none; */
    border-color: #c8d3cf;
    background-color: #FFFFFF;
}